/*---------------Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

/*---------------Body & HTML styling*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Dosis;
    font-size: 18px;
    margin-bottom: 60px;
}

/*---------------Navbar*/
nav {
    height: 110px;    
}

nav .logo {
    font-size: 50px;
    padding-left: 10px;
}    

.logo-image {
    width: 150px;
    border: #fff;
    border-style: solid;
    border-width: 3px;
}

nav ul a {
    font-size: 18px;
    padding-top: 40px;
    font-weight: 500;
}

/*---------------Flash Messages*/
.flashes h4 {
    line-height: 3;
    color: red;
}

/*---------------Footer*/
.footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.social-networks{
    text-align: center;       
}

.social-networks li {
    display:inline;
}

.social-networks i {
    font-size: 50px;
    padding: 20px;
    color: #fff;
}

