{% extends "base.html" %}
{% block content %}
    <h3 class="center-align">Review a Movie</h3>
    <div class="container">
        <div class="row card-panel blue-grey lighten-4">
            <form class="col s12" method="POST" action="{{ url_for('add_review') }}">
                <!-- Movie Title -->
               <div class="row">
                    <div class="input-field col s12">
                        <label for="movie_title">Movie</label>
                            <select id="movie_title" name="movie_title" class="validate" required>
                                <option value="" disabled selected></option>
                                {% for movies in movie %}
                                    <option value="{{ movies.movie_title }}">{{ movies.movie_title }}</option>
                                {% endfor %}
                            </select> 
                    </div>
                </div>   
                <!-- 5 star rating -->
                <div class="row ratings">
                    <div class="col s12">
                        <div class="stars" id="checked">
                            <label for="Rating">Star Rating: </label>
                            <input type="radio" class="star-input rated" name="rating" id="star-1" value="1">
                            <label for="star-1" class="star"><i class="fas fa-star"></i></label> 
                            <input type="radio" class="star-input" name="rating" id="star-2" value="2">
                            <label for="star-2" class="star"><i class="fas fa-star"></i></label> 
                            <input type="radio" class="star-input" name="rating" id="star-3" value="3">
                            <label for="star-3" class="star"><i class="fas fa-star"></i></label> 
                            <input type="radio" class="star-input" name="rating" id="star-4" value="4">
                            <label for="star-4" class="star"><i class="fas fa-star"></i></label> 
                            <input type="radio" class="star-input" name="rating" id="star-5" value="5" checked>
                            <label for="star-5" class="star"><i class="fas fa-star"></i></label> 
                        </div>
                    </div>
                </div>
                <!-- Review Title -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="review_title" name="review-title" type="text" class="review validate" maxlength="100" required>
                        <label for="review_title">Review Title</label>
                    </div>
                </div>
                <!-- Review -->
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="review" name="review" class="review validate" maxlength="500" required></textarea>
                        <label for="review">Leave a Review Here</label>
                    </div> 
                </div>
                <!-- Review Date -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="review_date" name="review_date" type="text" class="datepicker validate" required>
                        <label for="review_date">Review Date</label>
                    </div>
                </div>
                <!-- Submit Button-->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large teal darken-2">
                            Post <i class="fas fa-edit right"></i>
                        </button>
                        <a href="{{ url_for('get_movies')}}" class="btn-large red darken-4">
                            Cancel <i class="fas fa-times-circle right"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

