{% extends "base.html" %}
{% block content %}
    <h3 class="center-align">Add Movie</h3>
    
    
    <div class="container">
        <div class="row card-panel blue-grey darken-1">
            <form class="col s12" method="POST" action="{{ url_for('add_movie') }}" enctype="multipart/form-data">
                <!-- Movie Title -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="movie_title" name="movie_title" type="text" class="validate" required>
                        <label for="movie_title">Movie Title</label>
                    </div>
                </div>
                <!-- Director -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="director" name="director" type="text" class="validate" required>
                        <label for="director">Director</label>
                    </div>
                </div>
                <!-- Classification -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="classification" name="classification" type="text" class="validate" required>
                        <label for="classification">Classification</label>
                    </div>
                </div>
                <!-- Run Time -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="run_time" name="run_time" type="text" class="validate" required>
                        <label for="run_time">Run Time</label>
                    </div>
                </div>
                <!-- Plot -->
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="plot" name="plot" type="" class="plot validate" maxlength="500" required></textarea>
                        <label for="plot">Plot</label>
                    </div>
                </div>
                <!-- Genre Selector -->
                <div class="row">
                    <div class="input-field col s12">
                        <select id="genre_type" name="genre_type" class="validate" required>
                            <option value="" disabled selected>Choose Genre</option>
                            {% for genres in genre %}
                                <option value="{{ genres.genre_type }}">{{ genres.genre_type }}</option>
                            {% endfor %}
                        </select> 
                        <label for="genre_type">Genre</label>
                    </div>
                </div>
                <!-- Release Date -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="release_date" name="release_date" type="text" class="datepicker validate" required>
                        <label for="release_date">Release Date</label>
                    </div>
                </div>
                <!-- Actors -->
                <div class="row">
                    <div class="input-field col s12">
                        <label for="actors">Actors</label>
                        <input name="actors[]" type="text" class="validate" required>                        
                        <input name="actors[]" type="text" class="validate">                       
                        <input name="actors[]" type="text" class="validate">                        
                        <input name="actors[]" type="text" class="validate">
                        
                    </div>
                </div>
                <!-- Upload images -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="poster_image" name="poster_image" type="url" class="validate" required>
                        <label for="poster_image">Add URL for poster image</label>
                    </div>
                </div>
                <!-- Upload Trailer  -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="trailer" name="trailer" type="url" class="validate" 
                        value="{{ movie.trailer }}" required>
                        <label for="trailer">Add embedded URL for Movie Trailer</label>
                    </div>
                </div>
                <!-- Submit Button-->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large">
                            Add Movie <i class="fas fa-plus-square right"></i>
                        </button>
                         <a href="{{ url_for('get_movies')}}" class="btn-large red">
                            Cancel <i class="fas fa-times-circle right"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
   

{% endblock %}