<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"/>
    {% block styles %}
    {% endblock %}
    <title>Movie Review</title>
</head>
<body>
    <header>
        <!-- Main Navbar -->
        <nav class="navbar teal darken-2">
            <div class="container-fluid">              
                <a class="logo" href="{{ url_for('index')}}">Movie Review</a> 
                <a href="{{ url_for('index')}}" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>

                <ul class="nav right hide-on-med-and-down">
                    <li><a href="{{ url_for('index')}}">Home</a></li>
                    <li><a href="{{ url_for('get_movies')}}">Movies</a></li>
                    {% if session.register %}
                        <li><a href="{{ url_for('add_movie')}}">Add Movie</a></li>
                        <li><a href="{{ url_for('add_review')}}">Add Review</a></li>
                        <li><a href="{{ url_for('profile', username=session['register']) }}">Profile</a></li>
                        <li><a href="{{ url_for('logout')}}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login')}}">Log In</a></li>
                        <li><a href="{{ url_for('register')}}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        
        <!-- Mobile Navbar -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li><a href="{{ url_for('get_movies')}}">Movies</a></li>
            {% if session.register %}
                <li><a href="{{ url_for('add_movie')}}">Add Movie</a></li>
                <li><a href="{{ url_for('add_review')}}">Add Review</a></li>
                <li><a href="{{ url_for('profile', username=session['register']) }}">Profile</a></li>
                <li><a href="{{ url_for('logout')}}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('login')}}">Log In</a></li>
                <li><a href="{{ url_for('register')}}">Register</a></li>
            {% endif %}        
        </ul>
    </header>
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="center-align">{{message}}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer blue-grey darken-1 white-text">
        <div class="container center-align">
            <div class="row">
                <div class="col s12">
                    <a href="https://twitter.com/leepowe17426666" aria-label="Twitter" target="_blank" rel="noopener">
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x fa-inverse "></i>
                        </span>
                    </a>
                    <a href="https://www.instagram.com/leeap1982/ " aria-label="Instagram" target="_blank" rel="noopener">
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://www.linkedin.com/in/leepowell83/" aria-label="Linkedin" target="_blank" rel="noopener">
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://github.com/Leeap83" aria-label="Github" target="_blank" rel="noopener">
                        <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <br>    
                    <p class="copyright text-muted">Copyright &copy; <a href="https://the-snap-movie-review.herokuapp.com/">
                        Movie Review</a><span id="copyright"></span>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    

    {% block scripts %}
    {% endblock %}
    
</body>
</html>