{% extends "base.html" %}
{% block content %}
    <h3 class="center-align">Find Movie</h3>
    <!-- Search Bar -->
    <div class="container">
        <div class="row card-panel">
            <form action="{{ url_for('search') }}" method="post" class="col s12">
                <div class="row valign-wrapper center-align">
                    <div class="input-field query col s12">
                        <i class="fas fa-search prefix"></i>
                        <input type="text" name="query" id="query" class="validate" required>
                        <label for="query" class="black-text">Search Movies</label>
                    </div>
                </div>
                <div class="col s12 center-align">
                        <button type="submit" class="btn-large">Search</button>
                        <a href="{{ url_for('get_movies') }}" class="btn-large blue-grey darken-1">Reset</a>
                </div>
            </form>
        </div>
    </div>
    {% if movies| length > 0 %}
    <div class="container">
        <div class="row">
            <!-- Movie Cards -->        
            {% for movie in movies %}
                <div class="col s12 m6 l6 xl4">
                    <div class="card movie">
                        <!-- Movie poster -->
                        <div class="card-image">
                            <a href="#">
                                <img src="{{ movie.poster_image}}" alt="{{ movie_title}} image" width="300px" height="400px">
                            </a>        
                        </div>
                        <div class="card-content blue-grey darken-1 white-text">
                            <div class="row">
                                <div class="col s12 card-title activator">
                                    <div class="row">
                                        <!-- Movie Title -->
                                        <div class="col s10">
                                            <p class="card-title activator white-text">{{ movie.movie_title}}</p>
                                        </div>
                                        <div class="col s2">
                                            <i class="fas fa-bars right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card Reveal --> 
                        <div class="card-reveal">
                            <div class="row">
                                <div class="col s12">
                                    <div class="card-title activator grey-text text-darken-4">
                                        <div class="col s10">
                                            <h5 class="card-title grey-text text-darken-4">{{ movie.movie_title}}</h5>
                                        </div>
                                        <div class="col s2">
                                            <i class="fas fa-times right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Movie Info -->
                            <div class="row movie-details">
                                <div class="col s12">                                
                                    <p><strong>Director:</strong> {{ movie.director}}</p>      
                                    <p><strong>Genre:</strong> {{ movie.genre_type}}</p>
                                    <p><strong>Release Date:</strong> {{ movie.release_date}}</p>                                
                                    <strong>Actors:</strong>
                                        <p>{{ movie.actors[0]}}</p>
                                        <p>{{ movie.actors[1]}}</p>
                                        <p>{{ movie.actors[2]}}</p>
                                        <p>{{ movie.actors[3]}}</p> 
                                        <br>                               
                                        <p><strong>Added by:</strong> {{ movie.created_by }}</p>
                                </div>
                            </div>
                            <!-- Card Links -->
                            <div class="View More">
                                <p class="card-link btn"><a href="{{ url_for('movie_details', movie_id=movie._id) }}" class="white-text">View Movie Details</a></p>
                            </div>
                            <br>
                            <div class="user-session">
                            {% if session.register %}
                                <p class="card-link"><a href="{{ url_for('movie_review', movie_id=movie._id) }}">Add A Review</a></p>
                            {% endif %}
                            {% if session.register|lower == movie.created_by|lower %}
                                <p class="card-link"><a href="{{ url_for('edit_movie', movie_id=movie._id) }}">Edit Movie</a></p>
                                <p class="card-link"><a href="{{ url_for('delete_movie', movie_id=movie._id) }}">Delete Movie</a></p>                           
                            {% endif %}
                            </div>
                        </div>        
                    </div>                 
                </div>                   
            {% endfor %}
            <!-- Return to top -->
            <button id="topBtn"><i class="fas fa-arrow-up"></i></button>  
        </div>
    </div>
    {% else %}
        <h3 class="red-text center-align">No Movies Found</h3>
    {% endif %}

     
                
{% endblock %}

 
    
    
      
    
    