{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="center-align">Log In</h2>
    <br>
    <div class="row">
        <form class="col s12 m8 offset-m2 blue-grey lighten-4 login" method="POST" action="{{ url_for('login') }}">
            <br>
            <!-- Username -->
            <div class="row">
                <p class="center-align">
                    Log in to leave movie reviews or add your own movies to the site.
                </p>
                <div class="input-field col s12">
                    <i class="fas fa-user prefix"></i>
                    <input id="username" name="username" type="text" minlength="3"
                    maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix"></i>
                    <input id="password" name="password" type="password" minlength="5"
                    maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- login -->
            <div class="row">
                <button type="submit" class="col s12 m8 offset-m2 btn-large teal darken-2">
                    Log In<i class="fas fa-sign-in-alt"></i></button>
            </div>
        </form>
    </div>
    <!-- redirect to register -->
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Not signed up? <a href="{{ url_for('register') }}" class="">Register Here!</a>
            </p>
        </div>
    </div>
</div>


{% endblock %}