{% extends "base.html" %}
{% block content %}
    <h3 class="center-align">Review a Movie</h3>
    
    
    <div class="container">
        <div class="row card-panel blue-grey darken-1">
            <form class="col s12" method="POST" action="{{ url_for('movie_review', movie_id=movie._id) }}">
                <!-- Movie Title -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="movie_title" name="movie_title" type="text" class="validate" 
                        value="{{ movie.movie_title }}" required>
                        <label for="movie_title">Movie Title</label>
                    </div>
                </div>
                <!-- 5 star rating -->
                <div class="row ratings">
                    <div class="col s12">
                        <h6>Star Rating</h6>
                        <div name="stars" class="stars" id="">
                            <input type="radio" class="star-input" name="rating" id="star-1" value="1">
                            <label for="star-1" class="star"><i class="fas fa-star"></i></label> 
                            <input type="radio" class="star-input" name="rating" id="star-2" value="2">
                            <label for="star-2" class="star"><i class="fas fa-star"></i></label> 
                            <input type="radio" class="star-input" name="rating" id="star-3" value="3">
                            <label for="star-3" class="star"><i class="fas fa-star"></i></label> 
                            <input type="radio" class="star-input" name="rating" id="star-4" value="4">
                            <label for="star-4" class="star"><i class="fas fa-star"></i></label> 
                            <input type="radio" class="star-input" name="rating" id="star-5" value="5" checked>
                            <label for="star-5" class="star"><i class="fas fa-star"></i></label> 
                        </div>
                    </div>
                </div>
                <!-- Review -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="review_title" name="review-title" type="text" class="review validate" maxlength="25" required>
                        <label for="review_title">Review Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="review" name="review" type="" class="review validate" maxlength="300" required></textarea>
                        <label for="review">Leave a Review Here</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="review_date" name="review_date" type="text" class="datepicker validate" required>
                        <label for="review_date">Review Date</label>
                    </div>
                </div>
                <!-- Submit Button-->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large">
                            Post <i class="fas fa-edit right"></i>
                        </button>
                        <a href="{{ url_for('get_movies')}}" class="btn-large red">
                            Cancel <i class="fas fa-times-circle right"></i>
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        let stars = document.querySelectorAll('.star');
        stars.forEach(function(star){
            star.addEventListener('click', setRating);
        });

        let rating = parseInt(document.querySelector('.stars').getAttribute('data-rating'));
        let target = stars[rating - 1];
        target.dispatchEvent(new MouseEvent('click'));
    });

    function setRating(ev){
        let span = ev.currentTarget;
        let stars = document.querySelectorAll('.star');
        let match = false;
        let num = 0;
        stars.forEach(function(star, index){
            if(match){
                star.classList.remove('rated');
            }else{
                star.classList.add('rated');
            }
            if(star == span){
                match = true;
                num = index + 1;
            }
        })
        document.querySelector('.stars').setAttribute('data-rating', num);
    }

</script>


{% endblock %}

